@import './common.scss';

.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.items {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  width: 100%;
  flex-direction: column;

  .items-header {
    text-align: center;
    margin: 0 auto;
    margin: 2rem;
  }

  .items-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.items-name .items-count {
  background-color: $primary;
  color: $secondary;
  padding: 0.2rem;
  border-radius: 5px;
  margin: 0 1rem;
}

@media screen and (min-width: 700px) {
  .items {
    width: 50%;
  }
}